.back {
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.4px;
	color: #1b191c;
	border: none;
	outline: none;
	cursor: pointer;
	margin-bottom: 20px;
	background-color: inherit;
}
.back:focus-visible {
	border: 1px solid black;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.grid {
	width: 100%;
	display: grid;
	grid-row-gap: 20px;
}
